.listOfTask {
    background-color: #589fbb;
    width: 200px;
    margin: 15px;
    padding: 24px;
    font-size: 23px;
    border-radius: 20px;
}

.buttonStyle {
    background-color: #9cffa3;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
}